[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "chapensk"]
	path = chapensk
	url = https://github.com/langenbergstefan/chapensk
[submodule "sound"]
	path = sound
	url = https://github.com/langenbergstefan/sound
